@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up <small><a href="@routes.Registration.createUser">Regestrieren</a></small>
}

@main("Regestrierung") {
    
    @helper.form(action = routes.Registration.createUser, 'class -> "form-group col-md-4") {
        
        <fieldset>
            <legend>Konto erstellen</legend>
            
            @inputText(
                signupForm("username"),
                'placeholder -> "Benutzername",
                'class -> "form-control", 
                '_label -> "Username", 
                '_help -> "",
                '_error -> signupForm.error("username")
            )
            
            @inputText(
                signupForm("email"), 
                'placeholder -> "E-Mail",
                'class -> "form-control", 
                '_label -> "Email",
                '_help -> "",
                '_error -> signupForm.error("email")
            )
            
            @inputPassword(
                signupForm("password"),
                'placeholder -> "Passwort",
                'class -> "form-control", 
                '_label -> "Password",
                '_help -> ""
            )
            
            @inputPassword(
                signupForm("repeatPassword"), 
                'class -> "form-control", 
                'placeholder -> "Passwort wiederholen",
                '_label -> "Repeat password",
                '_help -> "",
                '_error -> signupForm.error("password")
            )
            @checkbox(
                signupForm("driver"), 
                'class -> "checkbox", 
                '_label -> "Fahrer"
            )
             @checkbox(
                signupForm("remember"), 
                'class -> "checkbox", 
                '_label -> "Remember me"
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn btn-default btn-lg" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}