@(suchForm: Form[AngebotSuchen])

@import helper._
@import helper.twitterBootstrap._

@main("HoeriMit") {

@helper.form(action = routes.Login.login) {
        <fieldset>
            <legend>Angebote suchen</legend>
            
            @inputText(
                suchForm("startAdresse"), 
                '_label -> "Von", 
                '_error -> suchForm.error("startAdresseError")
            )
            
            @inputText(
                suchForm("zielAdresse"), 
                '_label -> "Nach",
                '_error -> suchForm.error("zielAdresseError")
            )
                  
            
        </fieldset>
        <div class="actions">
			 <input type="submit" class="btn btn-default" value="Angebote suchen">
			 @if((request.cookies.get("sessionID") == null) && (session.get("sessionID") == null)){
	         <a href="@routes.Registration.showRegistrationForm" class="btn">Noch nicht regestriert?</a>
	         }
		</div>
    }
    <div id="result"></div>
}
