@(myNotApprovedRequests:  ArrayList[Request])(myCreatedRequests: ArrayList[Request])

@main("HöriMit") {
<fieldset>
	<legend>Eigene Anfragen</legend>
	<div id="omm_thema-table" class="panel-group">
		
		@for((key) <- myCreatedRequests){
			<div class="panel panel-default" id="@{key._id}">
				<div class="panel-heading">
				  <h4 class="panel-title">
				    <a data-toggle="collapse" data-parent="#omm_thema-table" href="#@{key._id}1">
				     <span class="omm_von">Von:</span> @{key.route.fetch().startAdresse.fetch().name} <span class="omm_nach">Nach:</span> @{key.route.fetch().zielAdresse.fetch().name}
				    </a>
				  </h4>
				</div>
				<div class="panel-collapse collapse" id="@{key._id}1">
					<div class="panel-body">
						@_displayRequest(key)("")
			 		</div>
			 	</div>
		 	</div>
		}
		</div>
</fieldset>
<div class="row"></div>
@if(session.get("driver") == "true"){
<fieldset>
	<legend>Eingegangene Anfragen</legend>
	<div id="omm_thema-table" class="panel-group">
		
		@for((key) <- myNotApprovedRequests){
			<div class="panel panel-default" id="@{key._id}1">
				<div class="panel-heading">
				  <h4 class="panel-title">
				    <a data-toggle="collapse" data-parent="#omm_thema-table" href="#@{key._id}2">
				     <span class="omm_von">Von:</span> @{key.route.fetch().startAdresse.fetch().name} <span class="omm_nach">Nach:</span> @{key.route.fetch().zielAdresse.fetch().name}
				    </a>
				  </h4>
				</div>
				<div class="panel-collapse collapse" id="@{key._id}2">
					<div class="panel-body">
						@_displayRequest(key)("owner")
			 		</div>
			 	</div>
		 	</div>
		}
	</div>
</fieldset>
}
}